@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'JetBrainsMono Nerd Font';
  src: url('/src/assets/fonts/jetbrains.ttf');
}

@font-face {
  font-family: 'Hack Nerd Font';
  src: url('/src/assets/fonts/hack.ttf');
}
